body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: black;
    color: white;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 15em;
    text-align: center;
}

.settings {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.settings input, .settings button {
    font-size: 1em;
    margin: 5px;
}
